body {
	background: url(../img/linedpaper.png)
}


.navbar {
	width: 950px;
	margin: 0 auto;
	
}

.navbar-inner {
	border-radius: 4px 4px 0px 0px;
}

.container{
	width: 950px;
	margin: 0 auto;
	padding-top: 0px;
}

#about img {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

#about h3{
	font-family: Goudy Stout, Arial, sans-serif;
	color: #FFC91B;
	line-height: 18px;
	padding-bottom: 10px;
}

#about p {
	font-family: Juice ITC,  Arial, sans-serif;
	color: #E2564C;
	font-size: 24px;
	line-height: 40px;
}

#footer {
	background: #F5F5F5;
	height: 40px;
}

#footer p {
	text-align: center;
	padding-top: 10px;
} 